* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Oswald';
  color: rgb(237, 237, 237);
}

header {
  background: linear-gradient(0.25turn, rgb(9, 22, 43), rgb(0, 12, 28));
  color: rgb(239, 197, 30);
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 60px;
}

header .title {
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#search {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5px 0px;
}

#left {
  padding: 20px 20px;
  width: 40%;
  /* height: auto; */
  /* overflow:auto; */
}

#rigth {
  width: 60%;
  padding: 20px 30px;
}

.champions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: middle;
  width: 100%;
  cursor: pointer;
  background-color: rgba(4, 11, 33, 0.797);
}

.champion {
  padding: 2px;
  height: 70px;
  transition: 0.2s;
}

.champion:hover {
  transform: scale(1.2);
  box-shadow: 2px;
  z-index: 2;
}

.champion:active {
  padding: 10px;
}

.hidden {
  position: absolute;
  visibility: hidden;
}

.skins-section {
  display: flex;
  align-items: center;
}

.arrow {
  text-align: center;
  font-size: 40px;
  width: 10%;
  transition: 0.2s;
  cursor: pointer;
}

.arrow:hover {
  font-size: 55px;
}

.champion-img {
  width: 80%;
  opacity: 0.9;
  transition: 0.4s;
  border: rgba(117, 98, 208, 0.722) solid 1px;
}

.champion-img:hover {
  width: 130%;
  opacity: 1;
  border: rgba(117, 98, 208, 0.722) solid 5px;
  cursor: pointer;
}

.little-ball {
  font-size: 30px;
}

.selected-ball {
  font-size: 50px;
}

#rigth {
  display: flex;
  font-family: 'Merriweather', serif;
}

#rigth #hidden-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rigth #hidden-section #champion-name {
  font-size: 40px;
}

#rigth #hidden-section #champion-title {
  color: rgb(189, 189, 189);
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Oswald';
}

#rigth #hidden-section #lore-class {
  display: flex;
  justify-content: space-evenly;
  color: rgb(225, 225, 225);
  font-family: 'Oswald';
  margin: 20px 0;
}

#lore-class #champion-lore {
  width: 75%;
}

#lore-class #champion-class {
  display: flex;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
  background-color: rgba(117, 98, 208, 0.722);
  align-items: center;
  padding: 20px;
}
